<%= form_for @quiz do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows=>5 %>
  </p>
  <div class="alert-box secondary">Categories go here</div>
  <p><%= f.submit "Save", :class => "tiny radius button" %></p>
<% end %>
