<h3><%= @header_text %><aside><small><%= @subheader_text %></small></aside></h3>

<div class="row">
  <div class="six columns">
    List by: <%= link_to "Hot", quizzes_path({ :order => 'hot' }) %>
    <%= link_to "New", quizzes_path({ :order => 'new' }) %>
  </div>
  <div class="six columns" align="right">
    <%= page_entries_info @posts %>
  </div>
</div>
<br />

  <table class="twelve">
    <thead>
      <tr>
        <th class="two">Points</th>
        <th class="six">Name and Description</th>
        <th class="three">Source</th>
        <th class="onr">.</th>
      </tr>
  </thead>
  <% for quiz in @quizzes %>
    <tr>
      <td>
        <span class="label"><%= link_to "+",
          update_points_path( :id => quiz.id, 
                              :point => 1),
          :remote => true,
          :update => "quiz" + quiz.id.to_s %></span>
        <span id="quiz<%= quiz.id.to_s %>">
          <%= quiz.points %>
        </span>

        <span class="label"><%= link_to "-",
          update_points_path( :id => quiz.id, 
                              :point => -1),
          :remote => true,
          :update => "quiz" + quiz.id.to_s %></span>
      </td>
      <td><b><%= quiz.name %></b><br />
        <i><%= quiz.description %></i>
      </td>
      <td><%= quiz.source %><br />
        <i><%= time_ago_in_words quiz.created_at %> ago</i></td>
      <td><%= link_to "Edit", edit_quiz_path(quiz.id) %></td>
    </tr>
  <% end %>
  </table>
  <%= will_paginate @quizzes, :style => 'color:blue' %>
<hr />
<p><%= link_to "New Quiz", new_quiz_path, :class => "tiny radius button" %></p>
