<h3><%= @header_text %></h3>
List by: <%= link_to "Hot", { :method => 'submissions', :order => 'hot' } %>
<%= link_to "New", { :method => 'submissions', :order => 'new' } %>
<br />

  <table class="twelve">
    <thead>
      <tr>
        <th>Points</th>
        <th>Name and Description</th>
        <th>Source</th>
      </tr>
  </thead>
  <% for quiz in @quizzes %>
    <tr>
      <td>
        <span id="quiz<%= quiz.id.to_s %>">
          <%= quiz.points %>
        </span>
      </td>
      <td><b><%= quiz.name %></b><br />
        <i><%= quiz.description %></i>
        <ul class="button-group radius">
        <li class="button tiny radius"><%= link_to "Up",
          :url => { :action => 'modify_points',
                    :id => quiz.id,
                    :by => 1 },
          :remote => true,
          :update => "quiz" + quiz.id.to_s %></li>

        <li class="button tiny radius"><%= link_to "Down",
          :url => { :action => 'modify_points',
                    :id => quiz.id,
                    :by => -1 },
          :remote => true,
          :update => "quiz" + quiz.id.to_s %></li>
        </ul>
      </td>
      <td><%= quiz.source %><br />
        <i><%= time_ago_in_words quiz.created_at %> ago</i></td>
    </tr>
  <% end %>
  </table>
<br />
<%#<%= link_to 'Previous page', { :page => @quiz_pages.current.previous } if @quiz_pages.current.previous %>
<%#<%= link_to 'Next page', { :page => @quiz_pages.current.next } if @quiz_pages.current.next %>
<p><%= link_to "New Quiz", new_quiz_path %></p>
