<% "New Quiz" %>

<%= form_for @quiz do |f| %>
  <%#<%= f.error_messages %>%>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :points %><br />
    <%= f.number_field :points %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </p>
  <p><%= f.submit %></p>
<% end %>


<p><%= link_to "Back to List", quizzes_path %></p>
