<p>
  <h3>Quiz
  <%= @quiz.id %> : 
  <%= @quiz.name %></h3>
</p>

<p>
  <div class="panel radius">
    <%= @quiz.description %>
  </div>
</p>

<p>
  <b>Release date:</b>
  <%= @release.release_date %>
</p>

<p>
  <b>Due date:</b>
  <%= @release.due_date %>
</p>

<p>
  <div class="alert-box success">Active</div>
</p>

<p>
  <b>Released by:</b>
  <%= User.find(@release.released_by.to_i).username %>
</p>


<%= link_to 'Edit', edit_release_path(@release), :class => "tiny radius button" %> |
<%= link_to 'Back', quizzes_path %>
