<p id="notice"><%= notice %></p>

<p>
  <h3>Quiz
  <%= @release.quiz_id %> : 
  <%= Quiz.find(@release.quiz_id.to_i).name %></h3>
</p>

<p>
  <div class="panel radius">
    <%= Quiz.find(@release.quiz_id.to_i).description %>
  </div>
</p>

<p>
  <b>Release date:</b>
  <%= @release.release_date %>
</p>

<p>
  <b>Due date:</b>
  <%= @release.due_date %>
</p>

<p>
  <b>Active:</b>
  <%= @release.active %>
</p>

<p>
  <b>Released by:</b>
  <%= User.find(@release.released_by.to_i).username %>
</p>


<%= link_to 'Edit', edit_release_path(@release), :class => "tiny radius button" %> |
<%= link_to 'Back', releases_path %>
