<!DOCTYPE html>
<html>
<head>
  <title>Quizhub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Nav Bar -->
<nav class="top-bar">
  <ul>
    <li class="name"><h1><a href="#">QuizHub</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section>
    <ul class="left">
      <li><a href="#">Rules</a></li>
      <li><a href="#">Archives</a></li>
    </ul>
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Admin</a>
        <ul class="dropdown">
          <li><a href="#">Users</a></li>
          <li><%= link_to "Categories", categories_path %></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

  <!-- End Nav -->
 
 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="nine columns" role="content">
      <%= yield %>
    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    <aside class="three columns">
 
      <div class="panel">
        <h5>Current Quiz</h5>
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
        <a href="#">Read More &rarr;</a>
      </div>

      <h5>Categories</h5>
      <ul class="side-nav">
        <% for cat in Category.all %>        
          <li><%= link_to "#{cat.name}", quizzes_path({ :order => 'hot', :select => "#{cat.name}" }) %></li>
        <% end %>
      </ul>
 
    </aside>
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->
 
 
  <!-- Footer -->
 
  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="four columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="four columns">
          <blockquote>
            <p>I do not fear computers. I fear the lack of them.
              <cite>Isaac Asimov</cite></p>
          </blockquote>
        </div>
        <div class="four columns">
          <ul class="link-list right">
            <li><a href="https://github.com/ljrpicasso/quizhub">Github</a></li>
            <li><a href="http://foundation.zurb.com/docs/index.php">Foundation</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
 
  <!-- End Footer -->

</body>
</html>
